

{{ form_start(form, {attr: {class:'filter js-filter-form'}}) }}

<div class="col"> 
    <div class="row col-10">
    {{ form_row(form.q) }}
    </div>
 </div>   
    
<div class="col">
    <div class="row">
        <h6> Prix </h6>
            <div class="col-4">
                {{ form_row(form.min) }}
            </div>
            <div class="col-4">
                {{ form_row(form.max) }}
            </div>
         
    </div>
</div> 


<div class="col">
    <div class="row">
        <h6> Kilométrage </h6>
            <div class="col-4">
                {{ form_row(form.kmMin) }}
            </div>
            <div class="col-4">
                {{ form_row(form.kmMax) }}
            </div>
    </div>
</div>

<div class="col">
    <div class="row">
        <h6> Année </h6>
            <div class="col-5">
                {{ form_row(form.dateTimeMin) }}
            </div>
            <div class="col-5">
                {{ form_row(form.dateTimeMax) }}
            </div>
    </div>
</div>

<div class="col">
    <div class="row col-3">   
        <button type="submit" class="btn btn-primary w-100 "> Filtrer </div>
    </div>
</div>

{{ form_end(form) }}

