

{{ form_start(form) }}
<p> Filtres </p>
<form id="filters" class="container-fluid">

<div class="col"> 
    <div class="row col-6 ">
    {{ form_row(form.q) }}
    </div>
 </div>   
    
<div class="col">
    <div class="row">
        <h4> Prix </h4>
            <div class="col-4">
                {{ form_row(form.min) }}
            </div>
            <div class="col-4">
                {{ form_row(form.max) }}
            </div>
    </div>
</div> 

<div class="col">
    <div class="row">
        <h4> Kilométrage </h4>
            <div class="col-4">
                {{ form_row(form.kmMin) }}
            </div>
            <div class="col-4">
                {{ form_row(form.kmMax) }}
            </div>
    </div>
</div>

<div class="col">
    <div class="row">
        <h4> Année </h4>
            <div class="col-4">
                {{ form_row(form.dateTimeMin) }}
            </div>
            <div class="col-4">
                {{ form_row(form.dateTimeMax) }}
            </div>
    </div>
</div>

<div class="col">
    <div class="row col-3 ">   
        <button type="submit" class="btn btn-primary w-100"> Filtrer </div>
    </div>
</div>

</form>
{{ form_end(form) }}

