{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}

{% block body %}

<section>
  <div class="voiturePres">    
    <h1>Voitures d'occasions</h1>
    <p>Nous proposons un large choix de véhicules d'occasion de différentes marques et modèles. Tous nos véhicules sont
    soigneusement inspectés et entretenus pour garantir leur bonne qualité et leur fiabilité. Faites-nous confiance pour
    trouver le véhicule qui correspond parfaitement à vos besoins et à votre budget.</p> 
          
          <div class="bntContactAccueil">
            <a class="btn btn-lg" href="{{ path('contact')}}">Nous contacter</a>
          </div>
  <div>                       
</section>



<div class="col-md-3">
  {% include 'annonce/filter.html.twig' %}
</div>

<section class="container-fluid">
<div class="col-8 offset-md-2 text-center"> 
    <div class="row row-cols-1 row-cols-md-2 g-4 gx-5 gy-5">
        {% for annonce in annonces %}
        <div class="col ">
          <div class="card">
            <img class="img-fluid img-thumbnail" src="{{ vich_uploader_asset(annonce, 'imageFile') }} ">
            <div class="card-body">
              <h5>{{annonce.title}}</h5>
            <div class="card-content">
              <p>
                Prix : {{annonce.price | number_format(0, ',', ' ') }}€ <br>
                Km : {{annonce.km | number_format(0, ',', ' ') }} Km<br>
                Année : {{annonce.dateTime}}
              </p>  
                <a class="btn text-center" href="{{ path('annoncedetails', {'slug': annonce.slug }) }}">Détails</a>
            </div>
            </div>
          </div>
        </div>
         {% endfor %}  
  </div>  
</div>
</section>
  

   




{% endblock %}


