{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class="container">

    <div class="text-center">
        <h1>Nous contacter </h1>
    </div>

    <div class="row">
         <!--adresse et numéro de tél-->
        <div class="col-md-6 py-6 text-center">
            <h4>Garage V. Parrot</h4>
            <p>ZI du Chapitre,<br> 31000 TOULOUSE</p>
            <img src="/img/telephone.png" width="25" height="25" alt="">02 61 25 86 84</img><br>
            <img id="map" class="col-lg-8" src="/img/map.png">   
        </div>

            <!--formulaire de contac-->
        <div class="col-md-6 py-6">
        <h2> Formulaire de contact</h2>
        <form id="contactForm" onsubmit="validateForm(event)">
            {{ form_start(form) }}  
                 <div class="form-group">
                    <div for="name"> {{ form_label(form.fullName) }}  </div>
                    <div type="text" id="fullName"> {{ form_widget(form.fullName) }} </div>  
                    <span id="nameError" class="error"></span>
                </div>
                <div class="form-group">
                    <div for="email">{{ form_label(form.email) }}</div> 
                    <div  type="email" id="email"> {{ form_widget(form.email) }} </div>
                    <span id="emailError" class="error"></span>
                </div>
                <div class="form-group">
                     {{ form_label(form.subject) }}
                    <div type="text" id="subject"> {{ form_widget(form.subject) }} </div>
                </div>
                <div class="form-group">
                    <div for="message"> {{ form_label(form.message) }}  </div>
                    <div id="message" placeholder="Message" >{{ form_widget(form.message) }} </div>
                    <span id="messageError" class="error"></span>
                    <div class="mlForm">
                        <p >Vos informations sont utilisées uniquement pour répondre à votre demande. Plus d’informations sur le traitement des données, rendez-vous sur notre page <a href="{{ path('mentions_legales')}}">mentions légales</a> .</p>      
                    </div>
                </div>          
            <div type="submit" value="Envoyer"> {{ form_end(form) }} </div>
        </form>
        </div>
    </div>
</div> 

{% endblock %}
